h1{
    font-size: 50px;
    text-transform: uppercase;
	background: linear-gradient(to right, #0a3b40 0%, #0ab0bf 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 2;
}

p.title{
    font-size: 30px;    
	background: linear-gradient(to right, #0a3b40 0%, #0ab0bf 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 2;
}
p{
    font-size: 20px;    
    color: #133840;
    font-style: italic;
    font-weight: 2;
}

#background{
    position: relative;
    width: 400px;
    height: 240px;
    left: 50px;
    top: 75px;
}

#name_tag{
    position:relative;
    bottom: 302px;
    left:2px;
}

#text_box{
    position: relative;
    width: 390px;
    height: 55px;
    left: 5px;
    top: -55px;
}

#text{
    position: relative;
    width: 360px;
    height: 40px;
    left: 0px;
    bottom: 245px;
}

p { font-family: 'fot-chiaro_stdb', Arial, sans-serif; }

#imagePreview {
    position:relative;
    width: 180px;
    height: 240px;
    bottom: 185px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    content: "click Here";
    color: black;
}

#imagePreview2 {
    position:relative;
    width: 180px;
    height: 240px;
    left: 27px;
    bottom: 185px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    content: "click Here";
    color: black;
}

input[type="file"] {
    display: none;
}

